option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "whatithink.settings"
    "PYTHONPATH": "/opt/python/current/app/iotd:$PYTHONPATH"
    "AWS_ENVIRONMENT": "TEST ENVIRONMENT"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: whatithink/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"