container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "whatithink.settings"
    "PYTHONPATH": "/opt/python/current/app/iotd:$PYTHONPATH"
    "AWS_ENVIRONMENT": "TEST ENVIRONMENT"
    "ALLOW_HOST" : "witest.us-west-2.elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: whatithink/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"