{% extends 'base.html' %}
{% load static %}
{% block services_active%}active{% endblock %}
{% block content %}
	
	<section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Service</h2>
                <p class="lead">It will be an honor to serve you
                    <br>
                    likewise it's an honor to be served by me</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services1.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Web Development</h3>
                            <p>Want a web site like this?? you've come to the right place. Want to reach out
                                to the world via the internet?? still the right place. Want a site for your business
                                or organisation?? want to redesign your website?? My web development skills are one of a kind
                                and off the shelve. I provide cost-effective and easily maintainable web solutions.
                                Complex database integration, social media reach and other plugins, you name it
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services2.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Application Development</h3>
                            <p>Is the office productivity suite not enough for your day-to-day operations
                                and you require an application that is particularly designed and
                                tailored to your business needs? Look no further!
                                We offer custom software development services and
                                therefore, can provide a complete software implementation process,
                                starting with software design and development, software deployment,
                                up to further software upgrades and enhancements. We are specialized
                                in helping our customers extend their online or offline business with
                                reliable applications that would maximize their productivity and return of
                                investment.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services3.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Mobile Application Development</h3>
                            <p>For now I only develop Android apps, Ios will be supported shortly,
                            I provide user friendly applications with the latest designs and support.
                            You don't always have to use your PC for all the work when you can do majority
                            of it on your phone. Online/Offline it doesn't matter, I am here for you</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" src="{% static 'images/services/services4.png' %}">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Others</h3>
                            <p>Something you need but is not mentioned above, you can reach me,
                            need an extra hand on a project?? I also program micro-controllers and I offer
                            programming tutorials and guides. If you are stuck in a project and have no where else
                            to go, I can be of great help. Here are the languages I code in. Python,Java,Javascript,Swift
                            </p>
                        </div>
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

	
	<section id="feature" class="transparent-bg">
		<div class="container">
			<div class="get-started center wow fadeInDown">
				<h2>Ready to get started</h2>
				<p class="lead">You must really like what you've seen,
                    getting any of the services listed/not listed above is just a button click away
                    don't miss the opportunity to be greatly served
                </p>
				<div class="request">
					<h4><a href="/contact/">Contact Me</a></h4>
				</div>
			</div><!--/.get-started-->

			<div class="clients-area center wow fadeInDown">
				<h2>What My client says</h2>
				<p class="lead">Just to clear any doubts if you have any <br>
                    these are few of the compliments and praises my clients have said about me, I will like
                to have your comments on here too</p>
			</div>

			<div class="row">
				<div class="col-md-4 wow fadeInDown">
					<div class="clients-comments text-center">
						<img src="images/client1.png" class="img-circle" alt="">
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
						<h4><span>-John Doe /</span>  Director of corlate.com</h4>
					</div>
				</div>
				<div class="col-md-4 wow fadeInDown">
					<div class="clients-comments text-center">
						<img src="images/client2.png" class="img-circle" alt="">
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
						<h4><span>-John Doe /</span>  Director of corlate.com</h4>
					</div>
				</div>
				<div class="col-md-4 wow fadeInDown">
					<div class="clients-comments text-center">
						<img src="images/client3.png" class="img-circle" alt="">
						<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</h3>
						<h4><span>-John Doe /</span>  Director of corlate.com</h4>
					</div>
				</div>
			</div>
		</div><!--/.container-->
	</section><!--/#feature-->


{% endblock %}